@{
    ViewData["Title"] = "Privacy Policy";
}
@model RegistrationViewModel
<h1>Registration</h1>

<form asp-action="Registration" asp-controller="Home" method="post">
  <div class="mb-3">
    <label asp-for="Login"></label>
    <input asp-for="Login" class="form-control">
    <span  class="text-danger" asp-validation-for="Login"></span>
  </div>
  <div class="mb-3">
    <label asp-for="Password"></label>
    <input asp-for="Password" class="form-control">
    <span  class="text-danger" asp-validation-for="Password"></span>
  </div>
  <div class="mb-3">
    <label asp-for="PasswordAgain"></label>
    <input asp-for="PasswordAgain" class="form-control">
    <span class="text-danger" asp-validation-for="PasswordAgain"></span>
  </div>
  <div>
      <label asp-for="IsAdmin">Admin:</label>
      <input asp-for="IsAdmin" type="checkbox"/>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial"></partial>
}